# T81-577: Applied Data Science for Practioners

 - Instructor: Asim Banskota, School of Engineering and Applied Science, Washington University in St. Louis

### Week 2 Assignment: Programming practice assignment

### Student Name: Your Name <br>

# Assignment Instructions

- Your solution should go between the BEGIN SOLUTION and END SOlUTION. 

- Submit the notebook or html through Canvas.

There are in total 19 questions. Each carries one half (0.5) point. Succesful submission of the assignment will earn you a bonus half point :smiley: making it total of 20 points.

In [3]:
x = '5'
y = 10

### Use a built-in function to find the data type of x

In [ ]:
### BEGIN SOLUTION
q1  = 
### END SOLUTION
print(q1)

### Use a built-in function to check whether y is an integer.

In [ ]:
### BEGIN SOLUTION
q2  = 

### END SOLUTION
print(q2)

### Convert the value of x into integer type

In [ ]:
### BEGIN SOLUTION
q3 = 

### END SOLUTION
print(q3)

### Raise x to the power of y

In [ ]:
### BEGIN SOLUTION
q4 = 

### END SOLUTION
print(q4)

### Print a float to tw0 decimal places without rounding

In [ ]:
number = 3.14159
#Hint: The answer should be 3.14

### BEGIN SOLUTION
q5 = '{}'.format(number)
### END SOLUTION
print(q5)

### Change the case of string variable  into uppercase (Change sentence into uppercase)

In [32]:
sentence = 'This is a first assignment'

### BEGIN SOLUTION
q6_sentence = 

### END SOLUTION
print(q6_sentence)

THIS IS A FIRST ASSIGNMENT

### Replace the word 'FIRST' by 'SECOND' in q6_sentence with uppercase

In [ ]:

### BEGIN SOLUTION
q7_sentence = 
### END SOLUTION
print(q7_sentence)

### Split all words inside the q7_sentence into a list of words

In [ ]:
#HINT: Your answer should look like ['THIS' , 'IS', 'A', 'SECOND', 'ASSIGNMENT']
### BEGIN SOLUTION
q8_sentence = 

### END SOLUTION
print(q8_sentence)

### Join the words in the list sentence (q8_sentence) into a single string

In [ ]:
# The cell should print out 'THIS IS A SECOND ASSIGNMENT'

### BEGIN SOLUTION
# HINT: use join method
q9_sentence  = 
### END SOLUTION

print(q9_sentence)

### convert a tuple into list

In [ ]:

### BEGIN SOLUTION
rank = ('first', 'second', 'third')
q10_list_rank = 
### END SOLUTION
print(q10_list_rank)

### Append a new value to a list. Append  a string 'fourth' to the list q11_rank.

In [26]:
q11_rank = ['first', 'second', 'third']

### BEGIN SOLUTION

# Hint: use append method

### END SOLUTION
print(q11_rank)

### combine two lists into one. Extend the value of q12_rank by values of more_ranks list.

In [ ]:
### BEGIN SOLUTION
q12_rank = q11_rank
more_ranks = ['fifth', 'sixth', 'seventh']

# Hint: use extend method

### END SOLUTION
print(q12_rank)

### Faker is a Python package that generates fake data for you.  We are going to generate some random names and addreess using the faker library in this exercise.

Install the faker library from your terminal or here using `!pip install faker`

Notice that the name and addresses are randomly generated. So every time you run the cellbelow, you will get different names and addresses

In [12]:
fake = Faker()
print (fake.name())
print (fake.address())

Heather Santana
498 Michael Points Suite 093
Sarahland, LA 61629

### Create an empty dictionary named person and add 'name' and 'address' keys with their values as empty list

In [ ]:
### BEGIN SOLUTION
person = 
person['name'] =
person['address'] = 

### END SOLUTION
q12 = isinstance(person['name'], list) & isinstance(person['address'], list)

### Append five random names from fake library to the list values of person['name']. Append five random names from fake library to the list values of person['address']

In [17]:
for i in range(5):
    ### BEGIN SOLUTION
    pass
    ### END SOLUTION
q13 = len(person['name']), len(person['address'])
print(q13)

### Write a function that truncates a floating point number to three decimal places.

In [19]:

# if the input to the function is 3.14159, it should return 3.141

### BEGIN SOLUTION

def truncate_float(number):
    
    return 

q14 = truncate_float(3.14159)
### END SOLUTION

print(q14)

### Write a function that takes a string as an argument and returns the upercase version of the input.

In [ ]:
### BEGIN SOLUTION
def func_uppercase(x):
    
    return 
### END SOlUTION


q15 =  'FIRST' == func_uppercase('first')
print(q15)

### Write a lambda (anonymous) funtion that returns sum of two numbers.

In [ ]:
### BEGIN SOLUTION
q16 = 
### END SOLUTION
print(q16 (10,20))

### Use list comprehension to convert strings in a list into uppercase

In [ ]:
list_lower = [fake.name() for i in range(5)]
### BEGIN SOLIUTION
list_upper = 
### END SOLUTION
q17 =  list_lower[0].upper() == list_upper[0]
print(q17)

### Write a map transformation to convert strings in a list to uppercase

In [ ]:
list_lower = [fake.name() for i in range(5)]
### BEGIN SOLUTION
list_upper = 
### END SOLUTION

q18 =  list_lower[2].upper() == list_upper[2]
print(q18)

### Filter a list of integers to return only prime numbers

In [ ]:
numbers = list(range(10))
# select only the prime numbers in the list numbers 

### BEGIN SOLUTION
prime_numbers = 
### END SOLUTION

q19 = len(prime_numbers)
print(q19)