## Learning objective
Students will learn about variables and built-in numeric, string, and Boolean data types in python

## Variables in python 

A variable is something which can change. In python, however, a variable is actually a way of referring to a memory location used by an object. A variable is a symbolic name for the physical location that contains objects, like numbers, text or more complicated types.

Python is dynamically typed - there is no need of declaring a variable to have a specific data type (eg integer or string). We just start assigning the value of a certain data type to a variable.  Assignment means variable 'i' on the left side refers to the integer value of 5 on the right side.
```python
i = 5
```
The equal "=" sign in the assignment shouldn't be seen as "is equal to". It should be "read" or interpreted as "is set to" - "the variable i is set to 5". The value of the variable can be changed into a different one during program execution. Not only the value of a variable may change during program execution but the type as well. we can assign an integer value to a variable, use it as an integer for a while and then assign a string to the variable.

A variable can be assigned any name as long as the following standards are obeyed:

- Variable names may contain letters, digits (0-9) or the underscore character _.
- Variable names must begin with a letter from A-Z or the underscore _ character. Either lowercase or uppercase letters are acceptable.
- Variable names may not be a reserved word in python

## Basic data types

Variables can be set to values of two broad data types: primitive or basic and non-primitive. Non-primitive data types can be thought of as a container that can hold different primitive types, and we will cover those in [data structure and iterable](weekly_materials/week2/notebooks/data-structure-and-iterables.ipynb) section. The most common primitive type of data objects are:

- integer
- floating-point number
- complex number
- boolean
- string

In python, anything that can be assigned to a variable is an object; data types are object too. The built-in function **isinstance** can be used to check if an object associated with a variable is of given type and **type** function to determine the exact type. For example, the following code checks if an object is an integer:

In [1]:
x = 10
isinstance(x, int)

True

In [2]:
type(x)

int

## Integers, float, and complex data types

As names suggest, these data types are used to store number types:  
- integers represent real numbers without decimal
- floats represent real numbers with decimal values, and
- complex represent complex numbers.

Many regular permissible mathmatical operations can be performed on the data types using mathmatical operators and built in functions.

In [4]:
x = 2
y = 3
x+y

5

In [5]:
x ** y # x raised to the power of y

8

In [6]:
abs(x-y) # built-in function abs returns the absolute value of a number

1

In [7]:
pow(x,y) # built-in function pow that computes x raised to the power y

8

In [44]:
x= 2.005

In [45]:
x/0 # division by zero is not permissible

ZeroDivisionError: float division by zero

In [8]:
x >y # logical greater than operator

False

Conversion between number types can be done using built-in int() or float() functions

In [47]:
print('The type of x is {}'.format(type(x)))
x = int(x)
print('The type of x is now {}'.format(type(x)))
x= float(x)
print('The type of x is again {}'.format(type(x)))

The type of x is <class 'float'>
The type of x is now <class 'int'>
The type of x is again <class 'float'>

### Representation of floating point and integers in computer memory

In python 3, there is no limit for integer length, i.e. they can be as long as they fit into the computer memory. Whereas, a floating-point number with very large number of decimals can not be stored in memory with absolute precision. The computer will only use a set amount of memory - 8 bytes (64 bits) on most machines - to store the value of a floating-point number.

Please refer to this [tutorial](https://www.pythonlikeyoumeanit.com/Module2_EssentialsOfPython/Basic_Objects.html) to learn more about the limitation of floating point representation. 

The most important thing to rememember is that one should not be checking whether two floating point values are equal because of the following reason:

In [48]:
0.1 + 0.1+ 0.1 -0.3 == 0.

False

Instead, you could check that two floats are approximately equal to one another. you can use the function available through math module (math.isclose) to check if the relative difference between two numbers is less than 1×10−9. The tolerance value can be manipulated as needed.

In [49]:
import math
math.isclose(0.1 + 0.1+ 0.1 -0.3, 0., abs_tol=1e-9 )

True

In [50]:
round(2.33,1)

2.3

Use formatting to print out floating point numbers to a limited number of significant digits.

In [53]:
print('{0:.2f}'.format(0.1333333))

0.13

## Boolean Type

There are two boolean-type objects: True and False; they belong to the built-in type bool.

In [56]:
type(True)

bool

In [57]:
type(False)

bool

In [61]:
# boolean-logic operators
True or False

True

In [62]:
not False

True

Comparison statements used in basic mathematics return boolean objects

In [64]:
2 >3

False

## String

The string type is used to store written characters. A string can be formed using single quotes or double quotes

- Single quotes is useful to represent string type with double string characters.

- Double quotes is useful to represent string with single quote characters.

- Triple quotes is useful to represent multiple lines of string types.

In [1]:
str_single = '"one apple a day is not enough"-john'
print(str_single)
str_double = "This is John's apple"
print(str_double)
str_triple = """This python tutorial is not comprehensive. 
Please follow the reference links for further readings.
"""
print(str_triple)

"one apple a day is not enough"-john
This is John's apple
This python tutorial is not comprehensive.
Please follow the reference links for further readings.

Integer and float type can be converted to string using str method

In [80]:
a = str(2)
type(a)

str

In [81]:
a = str(2.22)
type(a)

str

String types are immutable types, i.e their value can't be modified without creating a new string. But the string characters can be indexed and sliced to create subset of string

In [85]:
print(str_single[13])
print(str_single[13:17])

d
day

In [86]:
str_single.upper()

'"ONE APPLE A DAY IS NOT ENOUGH"-JOHN'

In [89]:
str_single.count("o")

4

In [95]:
str_single.replace("one", "two")

'"two apple a day is not enough"-john'

In [97]:
str_single.split(" ")

['"one', 'apple', 'a', 'day', 'is', 'not', 'enough"-john']

In [110]:
"".join(['a', 'b', 'c'])

'a0b0c'

In [114]:
str_single + " AND " + str_double

'"one apple a day is not enough"-john AND This is John\'s apple'