###### T81-577: Applied Data Science for Practioners

 - Instructor: Asim Banskota, School of Engineering and Applied Science, Washington University in St. Louis

### Week 6 Assignment: Exercise with Numpy and Pandas**

### Student Name: Your Name <br>

In [118]:
import numpy as np
import pandas as pd

### q1: Create a numpy array X of shape (5,2) with values drawn randomly from normal distribution (0.5 point)

In [ ]:
# q1
X = 
print (X)

### q2: Create another numpy array Y of shape (5,2) of all values being equal to 2  (0.5 point)

In [39]:
# q2
Y = 
print(Y)

(5, 5)

### q3: Vertically stack X array  on top of Y array to create an array Z of shape (10,2) (0.5 point)

In [3]:
#q3

Z = 
print (Z.shape)

(10, 2)

### q4: Compute the mean and std deviation of Z for each column. The results should be of arrays of shapes (2,) (0.5 point)

In [14]:
#q4
mean_arr = 
std_arr =

### q5: Assign the first column  of  array Z to var first_col  (0.5 point)

In [50]:
#q5
first_col =

### q6: Compute the dot product between first_col and Z array. Remember the inner dimension should agree (0.5 point)

In [57]:
#q6
dot_prod =

### q7: Write a code to load data from `assignment4_data.csv` file into pandas dataframe using chunksize = 100. Print the top five rows of dataframe (1.5 points).

In [ ]:
#q7
CSV_FILE = 't81_577_data_science/weekly_materials/week6/assignment/assignment4_data.csv'
df =

### q8: Print out the counts of the number of 'NaN' values in each colum (0.5 point)

In [ ]:
#q8

### q9: Replace the 'nan' value of 'beer_abv' by the mean value of the column (1.5 points)

In [77]:
#q9

# First calculate the mean of the column, then use `isna` or `isnull` method to find
# the rows with 'Na' values and use `.loc` to replace values with mean

5.398551474392137

### q10: Create a Pandas series 'ds_mean' that holds the mean value of the 'review_overall' column by 'brewery_name' column (1 point)

In [86]:
#hint use groupby
ds_mean =

### q11: Sort and print the ds_mean series values in descending order (0.5)

In [119]:
#hint use sort_values method
# q11

### q12: convert the `ds_mean` Series into a dataframe and rename the `review_overall` column to `mean_review_overall` in the dataframe ( 1 point)

In [112]:
df_mean = # convert to dataframe
df_mean = # rename the columns to 'mean_review_overall'

### q11: Join ds_mean series back to the original dataframe  (`df`) on `brewery_name` column (1 point)

In [115]:
#q13
df_merge =